@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');

.four0four {
    font-size: 7em;
    font-family: 'Goldman', cursive;
    color: crimson;
    text-shadow: 4px 4px rgb(255, 255, 255), 6px 5px rgba(0, 0, 0, 1), 0px 0px 5px rgba(0, 0, 0, 0.6);
}

h2, h3, a {
    font-family: 'Roboto', sans-serif;
}